/* ----------------------------- Default styles ------------------------------*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: column;

  max-width: 1280px;
  margin: 0 auto;

  font-family: 'Arial', 'Helvetica', sans-serif;
  text-align: center;

  color: #ffffff;

  font-size: calc(1rem + 0.5vw);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin: 0 10%;

  padding: 4rem 0;
}

.header .container,
.footer .container {
  padding: 0;
}

.testimonial,
.wrap > .footer,
.form__submit {
  background-color: #00d089;
}

/* ------------------------------ Header styles ------------------------------*/
.header {
  background-color: #55adb7;
  padding: calc(10px + 1.3vw) 0;
}

.header > .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: calc(20px + 1.3vw);
  font-family: 'Cherry Swash', cursive;
  font-weight: 400;

  cursor: pointer;
}

.header__nav {
  position: relative;
}

.header__link {
  position: relative;
  margin: 0 1rem;

  font-size: calc(10px + 0.9vw);
  font-stretch: ultra-condensed;

  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
}

.header__burger-menu {
  display: none;
  position: relative;
  flex-direction: column;
  width: 30px;
  height: 5px;

  background-color: #ffffff;

  cursor: pointer;
}


.header__burger-menu::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 30px;
  height: 5px;

  background-color: #ffffff;
}

.header__burger-menu::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 30px;
  height: 5px;

  background-color: #ffffff;
}

.header__link + .header__link::before {
  content: '';
  position: absolute;
  width: calc(1.2rem + 0.4vw);
  height: 0.11rem;

  transform: rotate(-65deg);
  top: calc(0.7rem + 0.1vw);
  left: calc(-2rem - 0.2vw);

  background: #ffffff;
}


/* ------------------------------ Promo styles -------------------------------*/

.promo {
  background: url(../img/background/sea-and-sky.png) no-repeat center center;
}

.promo .container {
  padding-top: 8rem;
  padding-bottom: 1rem;
}

.promo__title {
  max-width: 517px;
  padding-bottom: 2.8rem;
  margin: 0;

  font-size: calc(20px + 1.3vw);
  text-transform: uppercase;
}

.promo__btn {
  padding: 0.3rem 1.4rem;
  margin-bottom: 7.5rem;

  border: 1px solid #ffffff;
  border-radius: 0.5rem;

  font-size: calc(1rem + 1vw);
  font-weight: lighter;

  background-color: transparent;
  color: #ffffff;

  cursor: pointer;
}

.promo__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 15%;

  list-style: none;
}

.promo__item {
  height: calc(2px + 0.6vw);
  width: calc(2px + 0.6vw);

  border-radius: 50%;
  background-color: #ffffff;
}

.promo__item:hover {
  background-color: #69728c;
}

/* ------------------------------ Main styles --------------------------------*/
.main {
  color: #000000;
}

.main h3 {
  margin-bottom: 1rem;
}

.main p {
  margin-bottom: 3rem;
}

.main-list__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-icon {
  height: 56px;
  width: 56px;
}

.icon-basket {
  background: url(../img/icons/basket.png) no-repeat;
}

.icon-planet {
  background: url(../img/icons/planet.png) no-repeat;
}

.icon-briefcase {
  background: url(../img/icons/briefcase.png) no-repeat;
}

/* ------------------------------ Testimonial styles -------------------------*/

.testimonial {
}

.testimonial__dhavan {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(105px + 1.3vw);
  width: calc(105px + 1.3vw);

  border-radius: 50%;

  object-fit: cover;
  object-position: 60% 1%;
}

.testimonial__avatar {
  position: relative;
  display: flex;
}

.testimonial__avatar::before {
  content: 'Dhavan';
  position: absolute;
  left: calc(8rem + 1.3vw);

  font-size: (1rem + 1.3vw);
  font-weight: bold;
  text-transform: uppercase;
}

.testimonial__avatar::after {
  content: open-quote;
  position: absolute;
  left: calc(7.5rem + 1.3vw);
  top: -5rem;

  font-size: calc(10rem + 1.3vw);
  font-weight: bold;

  transform: rotate(180deg);

  opacity: 0.2;
}

.testimonial__review {
  margin: 5% 0 0 0;
}

/* ------------------------------- Contact styles ----------------------------*/

.contact {
  background: url(../img/background/map.png) no-repeat center center;
}

.form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: calc(65px + 1vw) calc(70px + 1vw) calc(35px + 1vw);

  border-radius: 50%;
  box-shadow: 0 0 77px -27px #000000;

  background-color: #ffffff;
}

.form > input {
  align-self: stretch;
  margin-bottom: 14px;

  border-radius: 0;
  border: 2px solid #d3d3d3;
  color: #a9a9a9;
}

.form__user-message,
 input::placeholder {
   color: #a9a9a9;
   font-size: 14px;
   padding-left: 3px;
}

.form__user-message {
  width: calc(220px + 1.3vw);
  margin-bottom: 33px;

  border: 2px solid #d3d3d3;

  font-family: 'Arial', 'Helvetica', sans-serif;
  resize: none;
}

.form__submit {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 68px;
  height: 68px;

  border-radius: 50%;
  border: none;
}

.form__submit:hover {
  cursor: pointer;
}

.form__submit::before,
.form__submit::after {
  position: absolute;

  width: 17%;

  background-color: #ffffff;
  border-radius: 3px;
}

.form__submit::before {
  content: '';
  left: 24.5%;
  height: 40%;

  transform: rotate(-45deg);
}


.form__submit::after {
  content: '';
  right: 28.3%;
  height: 60%;

  transform: rotate(45deg);
}

/* -------------------------------- Footer styles ----------------------------*/

.footer {
  padding: calc(5px + 1.3vw) 0;
}

.footer__copyright {
  font-size: 14px;
  text-transform: uppercase;
}
