@media screen and (max-width: 768px) {
 .header__nav .header__link {
    display: none;
  }

  .header__burger-menu {
    display: flex;
  }

  .form {
    padding: 55px 60px 25px;
  }
}

@media  (min-width: 1280px) {
 .header__logo {
   font-size: 40px;
 }

 .header__link {
   font-size: 25px;
 }

 .promo__title {
   font-size: 44px;
 }

 .promo__btn {
   font-size: 30px;
 }

 .promo__item {
   height: 9px;
   width: 9px;
 }

 .main h3 {
    font-size: 40px;
 }

 .main p {
    font-size: 25px;
 }

 .testimonial__avatar::before {
   font-size: 30px;
 }

 .testimonial__review {
    font-size: 30px;
 }
}

.header {
  padding: 20px 0;
}

.footer {
  padding: 5px 0;
}

@media (max-width: 320px) {
  .form__user-message {
    width: 180px;
    margin-bottom: 10px;
  }
}
