@media screen and (max-width: 768px) {
 .header__nav .header__link {
    display: none;
  }

  .header__nav {
    position: relative;
  }

  .header__burger-menu {
    display: flex;
  }

  .header__burger-menu::before {
    content: '';
    position: absolute;
    top: 10px;
    width: 30px;
    height: 5px;

    background-color: #ffffff;
  }

  .header__burger-menu::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 30px;
    height: 5px;

    background-color: #ffffff;
  }

  .form {
    padding: 55px 60px 25px;
  }
}

@media (.header__burger-menu: hover) {
  .header__burger-menu.header__burger-menu-active {
    background-color: transparent;
  }

  .header__burger-menu.header__burger-menu-active::before {
    transform: rotate(45deg);
    top: 0;
  }

  .header__burger-menu.header__burger-menu-active::after {
    transform: rotate(-45deg);
  }

}

@media  (min-width: 1280px) {
 .header__logo {
   font-size: 40px;
 }

 .header__link {
   font-size: 25px;
 }

 .promo__title {
   font-size: 44px;
 }

 .promo__btn {
   font-size: 30px;
 }

 .promo__item {
   height: 9px;
   width: 9px;
 }

 .main h3 {
    font-size: 40px;
 }

 .main p {
    font-size: 30px;
 }

 .testimonial__avatar::before {
   font-size: 30px;
 }

 .testimonial__review {
    font-size: 30px;
 }
}

@media (max-width: 320px) {
  .form__user-message {
    width: 180px;
    margin-bottom: 10px;
  }
}
